{% include 'header.html' %}

<form method="post" action="/store" enctype="multipart/form-data">
    <div class="form-group">
        <label for="my-input">Nombre:</label>
        <input id="my-input" class="form-control" type="text" name="txtnombre">
    </div>
     <div class="form-group">
        <label for="my-input">Correo:</label>
        <input id="my-input" class="form-control" type="email" name="txtcorreo">
    </div>
     <div class="form-group">
        <label for="my-input">Foto:</label>
        <input id="my-input" class="form-control" type="file" name="txtfoto">
    </div>
     <div class="form-group">
    <input type="submit" value="Agregar Empleado" class="btn btn-successs">
</form>
{% include 'footer.html' %}