{% include 'header.html' %}
{% for i in  datos %}
<br>
<form method="post" action="/update" enctype="multipart/form-data">
    <input type="hidden" value="{{i[0]}}" name="txtID" id="txtID">
    <div class="form-group">
        <label for="my-input">Nombre:</label>
        <input id="my-input" class="form-control" type="text" name="txtnombre"value="{{i[1]}}">
    </div>
     <div class="form-group">
        <label for="my-input">Correo:</label>
        <input id="my-input" class="form-control" type="email" name="txtcorreo" value="{{i[2]}}">
    </div>
     <div class="form-group">
        <label for="my-input">Foto:</label>
        <img class="img-thumbnail" width="100" {#src ="{{url_for('uploads', nombrefoto=i[3])}}"#} alt="">
        <input id="my-input" class="form-control" type="file" name="txtfoto">
    </div>
     <div class="form-group">
    <input type="submit" value="ModificaEmpleado" class="btn btn-success">
</form>
{% endfor %}
{% include 'footer.html' %}