{% include 'header.html'%}
<br>
    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Nombre Empleado:</th>
                <th>Correo Empleado:</th>
                <th>Foto Empleado:</th>
                <th>Acciones:</th>
            </tr>
        </thead>
        <tbody>
            {% for empleado in informacion %}
            <tr>
                <td>{{empleado[0]}}</td>
                <td>{{empleado[1]}}</td>
                <td>{{empleado[2]}}</td>
                <td>{{empleado[3]}}</td>
                <td>  
                    <a href="/editar/{{empleado[0]}}" class="btn btn-warning">Editar</a>
                    <a class="btn btn-danger" onclick="return confirm('Seguro de Eliminar?')" 
                    href="/eliminar/{{empleado[0]}}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% include 'footer.html' %}